h1,
h2,
h3,
h5,
h6 {
    margin: 0px;
    text-align: center;
}

.text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 90px;
}