.wraper {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.container {
    width: 1201px;
    margin: 0 auto;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* .container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   
} */


/* .header, */

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mr-55 {
    margin-right: 55px;
}

.mb-45 {
    margin-bottom: 45px;
}

.pt-255 {
    padding-top: 255px;
}

.mb-66 {
    margin-bottom: 66px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pl-150 {
    padding-left: 150px;
}

.pr-150 {
    padding-right: 150px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mr-1 {
    margin-right: 1px;
}

.mb-80 {
    margin-bottom: 80px;
}


/* main::after {
    content: "";
    display: block;
    width: 1201px;
    height: 1px;
    background-color: #e5e5e5;
    margin: 0 auto;
    margin-top: 80px;
} */

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #e5e5e5;
}

.services {
    margin-bottom: 100px;
}

.team {
    margin-bottom: 80px;
}