.services-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}

.services-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    /* -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; */
}

.services-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 95px;
}

.services-list__svg {
    fill: #95e1d3;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 20px;
}

.services-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; */
}

.services-list__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 0px 20px 0px;
}

.services-list__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin: 0px;
}