.welcome {
    background-image: url(../../img/Layer\ 15-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    margin-bottom: 45px;
}

.welcome__gradient {
    background: -webkit-gradient( linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: -o-linear-gradient( bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background: linear-gradient( 0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .welcome {
        background-image: url(../../img/Layer\ 15@2x-min.jpg);
    }
}