.welcome {
    background-image: url(../../img/Layer\ 15-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    margin-bottom: 45px;
}

.welcome_gradient {
    background: linear-gradient( 0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    height: 100%;
    padding-top: 255px;
    box-sizing: border-box;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .welcome {
        background-image: url(../../img/Layer\ 15@2x-min.jpg);
    }
}